
body{
			margin:0;

			padding:0;
			font-family:'Roboto','san-serif';
		}
		#Global-Cv-Export-btn{
			margin-right:10px;
		}
		#Global-Cg-Export-btn{
			margin-right:10px;
		}
		#SignupSuccessModal{
			background-color:#ffffff; 
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100vh;
			z-index:800;
			/*center items */
			display:flex;
			justify-content:center;
			align-items:center;
			visibility:hidden;
		}
		.modal-scroll{
			overflow-y:scroll;
			height:500px;
		}
		.sheet-link{
			margin-bottom:5%;

			height:100vh;
		}
		.form-control{
			width:50%;
		}
		.alert{
				display:none;
		}
		.data-container{
			margin-right:5%;
			border-radius:10px
		}

		.cv-container{
			margin:3% 0% 0% 0%;
			padding:0;
			margin-bottom: 10%;
		}

		.form-control, .saveBtn, label{
			margin:1%;
		}

		.act-container{
			margin:1% 0% 0% 0%;

			padding:0;

		}
		.login-cover{
			background: linear-gradient(302deg, rgb(198, 255, 221), rgb(251, 215, 134), rgb(246, 79, 89));
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100vh;
			z-index:800;
			/*center items */
			display:flex;
			justify-content:center;
			align-items:center;
			visibility:hidden;
		}
		.login-dialog{
			background:white;
			width:40%;
			display:flex;
			flex-direction:column;
			align-items: center;
			justify-content: center;
			padding:5em 1em 5em 1em;
			/* box-shadow:2px 2px 3px #E0E0E0; */


			}
		.headline{
			margin-bottom:1em;
		}
		.login-input{
			width:70%;
			border:.5px solid #bdbdbd;
		}
		#loginProgress{
			display:none;
			margin:1em;
		}
		#signUpProgress{
			display:none;
		}
		#loginError{
			display: none;
		}
		#loginBtn{
		 margin:1em;
		}
		#logoutBtn{
			display:none;
		}
		#userBtn{
			display:none;
		}

		#Email-display{
			font-family:'Roboto','san serif';
			font-size:13px;
		}
		.navbar{
			visibility:hidden;
		}
		#brainstorm{

			margin:5%;
			position: fixed;
		   margin-left:50%;
		   margin-right:0;
			bottom: 0;

		}
		#links{
			margin:1%;
			margin-bottom:5%;
			margin-left:25%;
			width:75%;
			position:fixed;
			bottom:0;


		}
		#notes{
			margin:1%;
			margin-bottom:5%;
			margin-left:25%;
			width:75%;
			position:fixed;
			bottom:0;


		}
		#message-content{
			width:100%;
			
		}
		#links-content{
			width:100%;

		}
		#notes-content{
			width:100%;

		}
		#send-message-btn{
			
		}
		#add-links-btn{
			margin-top:5%;
		}
		#add-notes-btn{
			margin-top:5%;
		}
		.lg-icon{
			font-size:50px;
		}
		.chat {

			list-style:none;
			padding:0;

		}
		.chat-body{

		}
		.chat p{
			padding-left:3%;
			padding-right:2%;
		}

		.card-body{
			overflow-y: scroll;
			height: 300px;
		}
		.chat-img{
			margin-right:10px;
		}
		.footer{
			position: fixed;

			bottom: 0;
			width: 100%;
		}
		.brain-btn{

		}
		.brn-close{
			cursor:pointer;
		}



		table td {
			word-wrap: break-word;

		}
		table {
			table-layout: fixed;

		}
		tr{
			border-bottom:none;
		}
		.tab-content{
			margin-top:5%;
		}
		.fullwidth{
			width:100%;
		}
		.no-round-border{
			border-radius:0;
		}
		.round-border{
			border-radius:5px;
		}
		.text-accent{
			font-color:red;
		}


		.bg-accent{
			background-color:#FBC02D;
		}
		.bg-dark{
			background-color:#363636;
		}
		.modal-footer{
			border:0;
		}
		.modal-body{
			border:0;
		}
		.modal-header{
			border:0;
			
			border-radius:0;
			
		}

		.modal-content{
			border-radius:0;
		}
		.close{
			
		}
		.btn-warning{
			background-color:#FBC02D;

		}
		.btn-danger{
			background-color:#F44336;
		}
		.btn-success{
			background-color:#4CAF50;
		}
		.btn-primary{
			background-color:#2196F3;
		}
		.text-question{
			color:#F44336;
		}

		.date-sample{
			margin-top:10px;
			margin-left:10px;
		}
		#errorLink-cont{

		}
		#shippingSchedLink-cont{

		}
		#global-cv-cont{
			margin-left:3%;
			margin-right:3%;
			
		}
		#global-cg-cont{
			margin-left:3%;
			margin-right:3%;
			
		}
		kbd{
				font-family:'Roboto','san-serif';
		}
		.table-container{
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			border-radius:3px;
		}
@media only screen and  (max-width: 768px){
	.login-dialog{
		width:90%;
	}
}